.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 10px;
}


.top-nav {
    height: 150px;
    background-color: #ffcc00;
    margin-bottom: 10px;
}

.main {
    width: 660px;              
    background-color: deeppink;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.sub-content {
    height: 200px;
    width: 200px;
    background-color: mediumblue;
    display: inline-block;
    margin: 5px;
}

#advertisement {
    height: 120px;
    width: 620px;
    background-color: #33cc33;
    margin: 10px auto 0 auto;
}

.side-nav {
    height: 380px;
    width: 225px;
    background-color: #66ccff;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

